.babor1 {
    background-color: #bbadb5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    padding: 10px;
    margin: auto;
}

.babor1h1 {
    color: #bbadb5;
}

.babor1 img {
    width: 95%;
}

.babor1p {
    width: 75vw;
    background-color: #bbadb5;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}